img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/ertale.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.ertale {
  background: url('./img/ertale.png') no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
}


.ertale1 {
  background: url('./img/abiyata.png') no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
}


.registerForm {
  color: white;
}

.formPadding {
  padding-bottom: 30px;
}

.SubmitBtn {
  height: 60px;
}

.MapPaddingTop {
  margin-top: 30px;
}

.AboutRock {
  color: black;
}

.AboutContent {
  color: black;
}

.haile {
  padding-top: 15px;
}


i.fa {
  color: #333333;
  background-color: #fff;
  border-radius: 100px;
  padding: 6px;
  height: 35px;
  width: 35px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.marginLeft {
  margin-left: 15px;
  margin-bottom: 5px;
}

ul.PostComments {
  list-style: none;
}

.BorderBottom {
  border: 1px solid lightgray;
}

.ImagePaddingRight {
  padding-right: 20px;
}

.Accomodationratings {
  text-align: center;
  font-size: 28px;
  padding: 20px;
}

.SpecialWeekPackage {
  text-align: center;
  font-size: 28px;
}

.ImagePaddingTop {
  padding-top: 20px;
}


.fbShareBtn {
  background-color: #3b5998;
  color: white;
  font: bold;
  height: 25px;
  border: none;
  text-decoration: none;
  font-size: 12px;
  margin: 3px;

}

.headerBackground {
  background-color: dodgerblue;
  color: #fff;
  padding: 10px;
}

.ImagePaddingTop {
  padding-top: 20px;
}

.myCredentials {
  background-color: dodgerblue;
  padding: 10px;
  color: #fff;
}

.navbarBackground {
  border-bottom: 5px solid black;
  color: #333333;
  background-color: dodgerblue;
  color: #fff;
}

.nav-link {
  color: #fff;
  font-size: 24px;
}

.nav-link:hover {
  color: black;
  background-color: white;
}